<!-- Describe task in general -->

<p>
    Квадрат на двовимірній площині можна визначити як кортеж <b class="code">(x, y, l)</b>, де <b class="code">(x, y)</b> - координати його <strong>лівого нижнього кута</strong>, а <b class="code">l</b> - довжина сторони квадрата (ми розглядаємо лише квадрати, які вирівняні по осям). За заданими двома квадратами у вигляді кортежів <b class="code">(x1, y1, l1)</b> та <b class="code">(x2, y2, l2)</b> ваша функція повинна визначити, чи <strong>перетинаються</strong> ці два квадрати, тобто чи мають їх <b>areas</b> хоча б одну спільну точку, навіть якщо ця точка є просто спільною кутовою точкою, коли ці два квадрати розміщені кутом до кута. 
</p>
<p>
    Ми також підготували для вас батіг і пряник:
</p>
<ul>
    <li>
        <p>спробуйте написати цю місію без <strong>циклів та перебору списків</strong>, але обчислити результат за допомогою лише цілочисельних порівнянь та умовних операторів;</p>
    </li>
    <li>
        <p>насправді набагато простіше визначити, що два квадрати <strong>не</strong> перетинаються, а потім заперечити цю відповідь. Два квадрати не перетинаються, якщо один з них закінчується в горизонтальному напрямку раніше, ніж починається інший, або якщо те саме відбувається у вертикальному напрямку.</p>
    </li>
</ul>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Два кортежі по три {% if is_js %}числа{% else %}цілих{% endif %} у кожному.
</p>

<p>
   <strong>Вихідні дані:</strong> {% if is_js %}Boolean{% else %}Bool{% endif %}. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>
    <i>
        Це завдання взято з курсу CCPS 109 Computer Science I, який викладається <a target="_blank" href="https://github.com/ikokkari">Ilkka Kokkarinen</a>.
    </i>
</p>
