<!-- Describe task in general -->

<p>
    Ein Quadrat in der zweidimensionalen Ebene kann als Tupel <b class="code">(x, y, l)</b> definiert werden, wobei <b class="code">(x, y)</b> die Koordinaten seiner <strong>linken unteren Ecke</strong> und <b class="code">l</b> die Länge der Seite des Quadrats sind (wir betrachten nur Quadrate, die an den Achsen ausgerichtet sind). Bei zwei Quadraten als Tupel <b class="code">(x1, y1, l1)</b> und <b class="code">(x2, y2, l2)</b> sollte Ihre Funktion feststellen, ob <strong>sich</strong> diese beiden Quadrate <strong>schneiden</strong>, d.h. ob ihre <b>areas</b> mindestens einen Punkt gemeinsam haben, auch wenn dieser eine Punkt nur der gemeinsame Eckpunkt ist, wenn diese beiden Quadrate in der Kittenecke liegen. 
</p>
<p>
    Wir haben auch eine Peitsche und eine Karotte für Sie vorbereitet:
</p>
<ul>
    <li>
        <p>versuchen Sie, diese Aufgabe <strong>ohne Schleifen oder Listen</strong> zu schreiben, sondern berechnen Sie das Ergebnis nur mit Ganzzahlvergleichen und bedingten Anweisungen;</p>
    </li>
    <li>
        <p>es ist eigentlich viel einfacher, festzustellen, dass sich die beiden Quadrate <strong>nicht</strong> schneiden, und diese Antwort dann zu negieren. Zwei Quadrate überschneiden sich nicht, wenn eines der Quadrate in horizontaler Richtung endet, bevor das andere beginnt, oder wenn dasselbe in vertikaler Richtung geschieht.</p>
    </li>
</ul>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Zwei Tupel mit drei {% if is_js %}Zahlen{% else %}Ganzzahlen{% endif %} in jedem.
</p>

<p>
   <strong>Ausgabe:</strong> {% if is_js %}Boolean{% else %}Bool{% endif %}. 
</p>


<p>
    <strong>Beispiele:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<p>
    <i>
        Diese Aufgabe stammt aus dem Kurs CCPS 109 Computer Science I, der von <a target="_blank" href="https://github.com/ikokkari">Ilkka Kokkarinen</a> unterrichtet wird.
    </i>
</p>
